.alert-box {
  max-width: 300px;
  margin: auto;
  height: auto;
  font-size: 1rem;
  position: relative;
  border-radius: 0.25rem;
  padding: 16px;
  line-height: 1.5;
  background: var(--alert);
  border: 1px solid var(--alert-border);
  color: var(--alert-color);
}
