.nav {
  height: 100%;
  display: flex;
  position: fixed;
  // position: relative;
  transition: left 0.4s ease-in-out;
  background: blue;
  // background: var(--white);
  display: initial;
  justify-content: stretch;
  align-items: stretch;
  margin-left: 0;
  overflow-y: auto;
  padding: 40px 16px 40px;
  width: 300px;

  // &.show {
  //   left: 0;
  // }

  // &.hidden {
  //   overflow: hidden;
  // }

  @media (max-width: 1264px) {
    position: fixed;
    top: 70px;
    // left: -100vw;
    z-index: 250;
    transition: left 0.4s ease-in-out;
    background: blue;
    // background: var(--white);
    display: initial;
    justify-content: stretch;
    align-items: stretch;
    margin-left: 0;
    overflow-y: auto;
    padding: 40px 16px 120px;
    width: 300px;

    &.show {
      left: 0;
    }

    &.hidden {
      overflow: hidden;
    }
  }

  @media screen and (max-width: 700px) {
    padding: 40px 16px 120px;
  }

  @media screen and (max-width: 299px) {
    width: 280px;
  }
  .logo {
    margin-bottom: 40px;
    @media (max-width: 1264px) {
      display: none;
    }
  }
  .navLinks {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: var(--full);
    height: auto;

    @media (max-width: 1264px) {
      flex-direction: column;
      align-items: stretch;
      justify-content: stretch;
      width: var(--full);
      height: auto;
    }

    > li {
      margin-bottom: 15px;
      width: var(--full);
      margin-right: 0px;

      @media (max-width: 1264px) {
        margin-bottom: 15px;
        width: var(--full);
        margin-right: 0px;
      }

      > a {
        font-size: 16px;
        color: var(--white);
        font-weight: bold;

        @media (max-width: 1264px) {
          // color: var(--black) !important;
          font-size: 16px;
          font-weight: bold;
        }

        &.darkText {
          color: var(--new-blue);
        }
      }
    }

    .dashLink {
      display: flex;
      align-items: center;
      padding: 15px 10px;

      span {
        margin-left: 10px;
      }
    }
  }

  .attention {
    background: #fdda61;
    padding: 10px 10px;
    border-radius: 8px;
    margin-bottom: 100px;
    margin-top: 20px;
    p {
      margin-top: 10px;
    }
  }

  .navLogout {
    display: flex;
    align-items: center;
    bottom: 0px;
    padding: 5px 10px;

    button {
      background: none;
      color: var(--white);
      margin-left: 10px;
    }
  }
}
