.login {
  width: var(--full);
  height: var(--full);

  &__logo {
    text-align: center;

    @media (min-width: 1024px) {
      display: none;
    }

    .welcome-text-mobile {
      margin: 32px 0;

      h1 {
        font-size: 50px;

        @media (max-width: 700px) {
          font-size: 32px;
        }
      }
    }
  }

  &__header {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media (max-width: 1023px) {
      display: block;
      text-align: center;
      margin-bottom: 56px;
    }

    > span {
      margin-right: 16px;

      @media (max-width: 1023px) {
        display: block;
        margin: 0 0 25px;
      }
    }

    > a {
      background: var(--white);
      border: 1px solid var(--white);
      border-radius: var(--radius);
      color: var(--text-dark);
      padding: 12px 32px;
      box-shadow: 2px 6px 16px -5px rgba(0, 0, 0, 0.29);
    }
  }

  .login-form {
    width: var(--full);
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 32px;

    @media (max-width: 1023px) {
      height: auto;
    }

    @media (max-height: 800px) {
      height: auto;
    }

    &__header {
      width: var(--full);
      max-width: 270px;

      @media (max-width: 1023px) {
        margin: 0 auto;
        text-align: center;
      }

      h2 {
        font-size: 38px;

        @media (max-width: 700px) {
          font-size: 32px;
        }
      }
    }

    form {
      width: 95%;
      margin-top: 32px;

      @media (max-width: 1023px) {
        width: var(--full);
        max-width: 512px;
        margin: 32px auto;
      }

      .form-group {
        margin-bottom: 16px;
        width: var(--full);

        input {
          width: var(--full);
          padding: 12px 16px;
          color: inherit;
          font-size: 16px;
        }
      }

      .form-footer {
        width: var(--full);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 25px;

        @media (max-width: 1023px) {
          flex-direction: column;
        }

        > a {
          color: var(--text-primary);
        }

        > button {
          background: var(--gold);
          border: 1px solid var(--gold);
          border-radius: var(--radius);
          color: var(--text-dark);
          padding: 12px;
          font-weight: 700;
          width: 208px;

          &:disabled {
            background: var(--fade);
            border: 1px solid var(--fade);
            color: var(--white);
            cursor: not-allowed;
          }

          @media (max-width: 1023px) {
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
